@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
  margin: 0;
  font-family: 'Secular One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #b5c2ca;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 2.5rem;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  display: grid;
  grid-template-areas:
    'menu navbar'
    'menu content';
  grid-template-rows: auto 8fr;
  grid-template-columns: 1fr 5fr;
  height: 100vh;
}

.content {
  grid-area: content;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 1rem;
  overflow: auto;
  background: #ffffff;
  margin: 10px;
}

.navbar {
  grid-area: navbar;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  background-color: #ffffff;
  border-radius: 1rem;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
}

.menu {
  grid-area: menu;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 10px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  color: #96959a;
  display: grid;
  grid-template-rows: 1fr 7fr 1fr;
}
